volumes:
  media: {}
services:
  postgres:
    image: postgres:16-alpine
    container_name: pg-anb
    environment:
      POSTGRES_DB: anbdb
      POSTGRES_USER: anbuser
      POSTGRES_PASSWORD: anbpass
    volumes: [ ".pgdata:/var/lib/postgresql/data" ]
    ports: [ "5434:5432" ]

  pgbouncer:
    image: edoburu/pgbouncer:latest
    container_name: pgbouncer-anb
    environment:
      DB_USER: anbuser
      DB_PASSWORD: anbpass
      DB_HOST: postgres
      DB_NAME: anbdb
      POOL_MODE: transaction
      MAX_CLIENT_CONN: 2000
      DEFAULT_POOL_SIZE: 80
      AUTH_TYPE: scram-sha-256
    depends_on: [ postgres ]
    ports: [ "6432:5432" ] 

  db-init:
    image: postgres:16-alpine
    depends_on: [ postgres ]
    environment:
      PGPASSWORD: anbpass
    entrypoint: [ "sh", "-c" ]
    command: >
      "until pg_isready -h postgres -U anbuser -d anbdb; do sleep 1; done;
       psql -h postgres -U anbuser -d anbdb -tc \"SELECT 1 FROM pg_database WHERE datname='anbdb_test'\" | grep -q 1 ||
       psql -h postgres -U anbuser -d anbdb -c 'CREATE DATABASE anbdb_test;'"


  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq-anb
    ports: [ "5672:5672", "15672:15672" ]

  redis:
    image: redis:7-alpine
    container_name: redis-anb
    ports: [ "6379:6379" ]

  api:
    build: 
      context: .
      dockerfile: anbapi/Dockerfile
    env_file: .env
    depends_on: [ pgbouncer, rabbitmq, redis ]
    working_dir: /app/app
    volumes:
      - media:/data
      - ./anbapi/app/assets:/assets
    ports: [ "8000:8000" ]
    command: >
      sh -lc "python prestart.py && exec gunicorn main:app --workers 2 --threads 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 --keep-alive 10 --timeout 60 --graceful-timeout 30 --max-requests 800 --max-requests-jitter 100 --log-level info"

  worker:
    build:
      context: .
      dockerfile: anbapi/Dockerfile
    env_file: .env
    depends_on: [ pgbouncer, rabbitmq, redis ]
    working_dir: /app/app                 
    environment:
      PYTHONPATH: /app                    
    volumes:
      - media:/data
      - ./anbapi/app/assets:/assets
    command: python -m celery -A celery_app:celery worker -l info --concurrency=2

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx-anb
    depends_on: [ api ]
    ports:
      - "80:80"
    volumes:
      - ./anbapi/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./anbapi/nginx/conf.d:/etc/nginx/conf.d:ro         
    restart: unless-stopped

